:root {
  --primary-color: #d24d24;
  --primary-color-light: #fff;
  --secondary-color: #000;
  --tertiary-color: #eff8ff;
  --text-color-1: #655d5d;
  --text-color-2: #615c5c;
  --text-color-3: #f8e9df;
  --text-color-4: rgba(37, 44, 50, 1);
  --light-pink: #ffe4e4;
  --transition: 0.25s ease-in-out;
  --radius: 1rem;
  --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); }

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box; }

h1 {
  font-size: 4rem;
  font-weight: 800; }

.text-medium {
  font-size: 1.6rem; }

.text-small {
  font-size: 1.4rem; }

.text-xsmall {
  font-size: 1.2rem; }

.body__center {
  display: flex;
  align-items: center; }
  @media screen and (min-height: 56.25em) {
    .body__center {
      height: 100vh; } }
  @media screen and (max-height: 56.25em) {
    .body__center {
      padding-block: 4rem; } }

.body__color {
  background-color: var(--tertiary-color); }

.flex-start {
  justify-content: start !important; }

.label-inline {
  display: inline !important; }

.m-r-small {
  margin-right: 1.5rem; }

.m-b-none {
  margin-bottom: 0 !important; }

.sidebar2 {
  height: 100vh !important; }

.action__call {
  display: flex;
  justify-content: end;
  font-size: 1.4rem; }

.action__link {
  color: var(--primary-color);
  text-decoration: none;
  margin-left: 0.4rem; }
  .action__link:hover {
    text-decoration: underline; }

.btn {
  padding: 1rem 4rem;
  font-size: 1.6rem;
  border-radius: var(--radius);
  color: var(--primary-color-light);
  cursor: pointer; }
  .btn--dark {
    border: 1px solid;
    background-color: var(--secondary-color); }
    .btn--dark:hover {
      background-color: transparent;
      color: var(--secondary-color); }
  .btn--primary {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color); }
    .btn--primary:hover {
      background-color: transparent;
      color: var(--primary-color); }

.main-form {
  display: flex;
  gap: 3.2rem;
  margin-inline: 6%;
  width: 100%; }
  @media screen and (max-width: 75em) {
    .main-form {
      flex-direction: column; } }
  .main-form__img {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 75em) {
      .main-form__img {
        display: none; } }
  .main-form__form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    flex: 1; }
    @media screen and (max-width: 75em) {
      .main-form__form {
        order: -1; } }
    .main-form__form-action {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 2.4rem; }
    .main-form__form-terms {
      display: flex;
      flex-direction: column;
      gap: 1rem; }
    .main-form__form-fields {
      display: flex;
      flex-direction: column;
      gap: 2.5rem; }
    .main-form__form-fieldset {
      border: none;
      outline: none; }
    .main-form__form-label {
      display: block;
      margin-bottom: 1rem;
      font-size: 1.6rem; }
    .main-form__form-radio {
      margin-right: 5px; }
    .main-form__form-input {
      border-radius: var(--radius);
      border: 1px solid;
      outline: none;
      height: 5rem;
      width: 100%;
      padding-inline: 1rem;
      font-size: 1.6rem; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }
  .icon-small {
    width: 2rem;
    height: 2rem; }
  .icon-xsmall {
    width: 1.4rem;
    height: 1.4rem; }

.edit-icon {
  margin-left: 2rem; }

.table {
  display: flex; }
  .table__col {
    flex-grow: 1; }
  .table__title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 2rem; }
  .table__item {
    margin-bottom: 3rem; }
    .table__item span {
      border-bottom: 1px solid #e5e9eb;
      padding: 0.6rem 1rem; }
  .table__item {
    font-size: 1.4rem;
    color: var(--text-color-1); }

.header {
  background-color: var(--primary-color-light);
  flex-basis: 5.5rem;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 6%; }
  .header__form {
    display: flex;
    align-items: center; }
  .header__form-search {
    background: transparent;
    border: none;
    margin-right: 1rem; }
  .header__form-input {
    border: none;
    outline: none; }

.sidebar__nav {
  background-color: var(--primary-color);
  flex-basis: 27.8rem;
  height: 120vh; }
  @media screen and (min-width: 56.25em) {
    .sidebar__nav {
      position: fixed; } }
  @media screen and (max-width: 56.25em) {
    .sidebar__nav {
      flex-basis: 0;
      height: auto; } }
  .sidebar__nav-list {
    margin-top: 9rem;
    margin-left: 5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3rem; }
    @media screen and (max-width: 56.25em) {
      .sidebar__nav-list {
        flex-direction: row;
        margin-top: 0;
        margin-left: 0;
        gap: 0; } }
  .sidebar__nav-item {
    color: var(--primary-color-light);
    border-radius: 1rem 0 0 1rem; }
    @media screen and (max-width: 56.25em) {
      .sidebar__nav-item {
        border-radius: 0;
        text-align: center;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center; } }
    .sidebar__nav-item:hover, .sidebar__nav-item.active {
      background-color: var(--primary-color-light);
      color: var(--primary-color); }
  .sidebar__nav-link {
    padding: 1rem 3rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: inherit; }
    @media screen and (max-width: 56.25em) {
      .sidebar__nav-link {
        flex-direction: column;
        font-size: 1.2rem; } }
    @media screen and (max-width: 37.5em) {
      .sidebar__nav-link {
        padding-inline: 0; } }
  .sidebar__nav-link span {
    white-space: nowrap; }
    @media screen and (max-width: 37.5em) {
      .sidebar__nav-link span {
        display: none; } }

.main__password {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }
  @media screen and (min-width: 56.25em) {
    .main__password {
      margin-left: 27.1rem; } }
  .main__password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    flex: 0 1 70rem;
    margin-inline: 1rem; }
    @media screen and (max-width: 56.25em) {
      .main__password-form {
        margin-top: 5rem; } }

.main-form__form-fields {
  width: 100%; }

.content {
  display: flex; }
  @media screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }
  .content__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 56.25em) {
      .content__main {
        margin-left: 26rem; } }
  .content__container {
    margin-block: 4.3rem;
    margin-inline: 5vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.7rem; }
  .content__quick-links {
    display: flex;
    gap: 0.5rem; }
  .content__quick-item {
    padding: 1rem;
    background-color: var(--light-pink);
    color: var(--text-color-1);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: var(--radius); }
  .content__showbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem; }
    @media screen and (max-width: 75em) {
      .content__showbox {
        grid-template-columns: repeat(2, 1fr); } }
    .content__showbox-item {
      background-color: var(--primary-color-light);
      font-size: 1.6rem;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      padding-block: 3rem;
      border-radius: var(--radius);
      box-shadow: var(--shadow); }
    .content__showbox-item:hover {
      background-color: var(--secondary-color);
      color: var(--text-color-3); }
  .content__activity {
    background-color: var(--primary-color-light);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    padding: 2rem 10% 0 10%; }
    @media screen and (max-width: 37.5em) {
      .content__activity {
        padding-bottom: 2rem; } }
    .content__activity-title {
      border-bottom: 1px solid #beb2b2;
      padding-bottom: 1.2rem; }
    .content__activity-heading {
      margin-bottom: 1rem;
      font-size: 1.6rem; }
    .content__activity-paragraph {
      color: var(--text-color-1);
      font-size: 1.2rem; }
    .content__activity-table {
      display: flex; }
      @media screen and (max-width: 37.5em) {
        .content__activity-table {
          flex-direction: column; } }
    .content__activity-scheme {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 3rem;
      transform: translateX(-2rem);
      padding-left: 2rem;
      margin-block: 2rem;
      border-left: 1px solid var(--secondary-color); }
      @media screen and (max-width: 37.5em) {
        .content__activity-scheme {
          transform: translateX(0);
          margin-bottom: 0; } }
    .content__activity-profile {
      border-left: 1px solid #beb2b2;
      flex: 1;
      padding: 2rem 0rem 2rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 3.5rem; }
      @media screen and (max-width: 37.5em) {
        .content__activity-profile {
          border-color: var(--secondary-color);
          padding-top: 4rem; } }
    .content__activity-rating {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      font-size: 1.4rem; }
    .content__activity-score {
      white-space: nowrap; }
    .content__activity-tab {
      display: flex;
      height: 5.7px;
      position: relative;
      background-color: #ffe5d3;
      flex: 0 1 30rem;
      border-radius: 10rem; }
    .content__activity-progress {
      display: flex;
      flex-direction: column;
      gap: 3rem; }
    .content__activity-info {
      width: 60%;
      position: relative; }
      @media screen and (max-width: 1200px) {
        .content__activity-info {
          width: 100%; } }

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem; }

.circle {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  position: absolute;
  top: 0;
  left: -2.35rem; }

.percent {
  background-color: var(--primary-color);
  height: 100%;
  border-radius: 10rem; }
  .percent-1 {
    width: 80%; }
  .percent-2 {
    width: 50%; }
  .percent-3 {
    width: 10%; }

.form__radio {
  display: flex; }
